a:link, a:visited {
    background-color: cornflowerblue;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
a:hover, a:active {
    background-color: lightslategray;
    }
body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    }

p {
    color: white;
    text-align: center;
    }

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 19px;
    text-align: left;
    color: white;
    border: 4.2px solid cornflowerblue;
    border-radius: 8.4px;
  }
